  	<%= render 'books/list', books: @books, book_new: @book_new ,user: @user %>

  	<!-- ここから右側本体 -->
  	<div class='col-xs-9'>
  		<h2>Book detail</h2>
  		<table class='table'>
  			<tr>
  				<td>
  					<%= link_to user_path(@book.user.id) do %>
  					<%= attachment_image_tag @book.user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %><br>
  					<%= @book.user.name %>
  					<% end %>
  				</td>

  				<td>
  					<%= link_to book_path(@book) do %>
  					<font color="#666">
  						<%= @book.title %>
  					</font>
  					<% end %>
  				</td>

  				<td><%= @book.body%>

  					<!-- ログインしているユーザーなら消せる -->
  					<% if @book.user == current_user %>
  					<%= link_to edit_book_path(@book) do %>
  					<button type="button" class="btn btn-success btn-sm">Edit</button>
  					<% end %>
  					<%= link_to book_path(@book), method: :delete do %>
  					<button type="button" class="btn btn-danger btn-sm">Destroy</button>
  					<% end %>
  					<% end %>
  					<!-- ログイン中のみ -->
  				</td>
  			</tr>
  		</table>
  	</div>
  </div>
</div>
</div>


