  		<!-- 共通部分 -->
    <div class='body'>
      <div class='container'>

        <% if @book_new.errors.any? %>
        <div id="error_explanation">
          <font color="red">
            <h2><%= @book_new.errors.count %>errors prohibited this obj from being saved:</h2>
            <ul>
              <% @book_new.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </font>
        </div>
        <% end %>
        <div class='row'>
          <div class='col-xs-3'>
           <h2>User info</h2>
           <table class='table'>
            <tr><img class="" alt="No image" /></tr>
            <tr>
             <th>name</th>
             <th>aaa</th>
           </tr>
           <tr>
             <th>introduction</th>
             <th></th>
           </tr>
         </table>

         <div class='row'>
          <a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_7343" href="/users/7343/edit"></a>
        </div>

        <h2>New book</h2>

        <%= form_for(@book_new, url: books_path) do |f| %>
        <div class="row">
          <label>Title</label>
          <%= f.text_field :title, class:"form-control" %>
        </div>
        <div class="row">
          <label>Opinion</label>
          <%= f.text_area :body, class:"form-control", rows:"3" %>
        </div>
        <div class="row mt-5">
          <%= f.submit "CREATE BOOK", class:"btn btn-primary form-control" %>
        </div>
        <% end %>
      </div>
      <!-- 共通部分 -->

  				<!-- ここから右側本体 -->
  				<div class='col-xs-9'>
  					<h2>Book detail</h2>
  					<table class='table'>
  						<tr>
  							<td>image<%= @book.user.name %></td>
  							<td><%= @book.title%></td>
  							<td><%= @book.body%>
  								<% if @book.user == current_user %>
  								<%= link_to "Edit", edit_book_path(@book) %>
  								<%= link_to "Destroy", book_path(@book), method: :delete %>
  								<% end %>
  							</td>
  						</tr>
  					</table>
  				</div>
  			</div>
  		</div>
  	</div>


